.learnMoreContainer {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .articleCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .learnMoreCard {
    border-radius: 10px;
    min-height: 200px;
    border: 1px solid white;
  }

  .learnMoreCardTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
  }


  .learnMoreCardContainer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }