@import "bootstrap";
@import "homepage.css";
@import "partnerspage.css";


* {
    margin: 0;
    padding: 0;
}

.navbar {
    color: black;
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    margin-left: 70%;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

body {
    background-color: rgba(40, 27, 113, 0.942);
    color: white;
}

